<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/1111cscs">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'about:about_us' %}">
                        Rólunk
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:announcement-list' %}">
                        Blog
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, csapatnak <i class="material-icons">favorite</i>-el készítette: <a href="https://github.com/pmihaly/">Papp Mihály</a>
        </p>
    </div>
</footer>