{% load humanize %}
<a href="{% url 'blog:post-detail' post.slug %}" class="card mb-3">
    <div class="card-header card-header-image" style="max-height: 30vh; overflow: hidden;">
        <img class="img" src="{{ post.image.url }}" alt="{{ post.title }} kép">
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{ post.text|safe }}</p>
        <p class="card-text"><small class="text-muted">Szerkesztve
                {{ post.updated_at|naturaltime }}</small></p>
    </div>
</a>