{% extends 'base.html' %}
{% load humanize %}
{% load random_image %}

{% block title %}{{object.title}}{% endblock %}
{% block cover-image-url %}{% if object.image %}{{ object.image.url}}{% else %}{% random_image 'blog/cover_images' %}{% endif %}{% endblock %}

{% block content %}
<div class="section">
    <h1 class="title">{{ object.title }}</h1>
    <h4>Írta {{ object.author.username }} {{ object.created_at|naturaltime }}
        {% if object.created_at|date != object.updated_at|date %}(szerkesztve {{ object.updated_at|naturaltime }})
        {% endif %}
    </h4>
    <p>{{ object.text|safe }}</p>


    {% for post in object.related_posts.all %}
    {% if forloop.first %}
    <h2 class="title">Kapcsolódó bejegyzések</h2>
    <div class="row">
        {% endif %}
        <div class="col-lg-4">
            {% include 'post_card.html' %}
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}

    {% for post in object.other_posts.all %}
    {% if forloop.first %}
    <h2 class="title">További hírek</h2>
    <div class="row">
        {% endif %}
        <div class="col-lg-4">
            {% include 'post_card.html' %}
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock %}