{% extends 'base.html' %}

{% block title %}{{object.title}}{% endblock %}
{% block cover-image-url %}{{ object.image.url}}{% endblock %}

{% block content %}
<div class="section">
    <h1 class="title">{{ object.title }}</h1>
    <p>{{ object.text|safe }}</p>
    <p>Író: {{ object.author.username }}</p>
    <p>Létrehozva: {{ object.created_at|date }}</p>
    <p>Szerkesztve: {{ object.updated_at|date }}</p>


    {% for post in object.related_posts.all %}
    {% if forloop.first %}
    <h2 class="title">Kapcsolódó bejegyzések</h2>
    <div class="row">
        {% endif %}
        <div class="col-lg-4">
            {% include 'post_card.html' %}
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock %}