{% extends 'base.html' %}
{% load random_image %}

{% block title %}Hírek{% endblock %}
{% block cover-image-url %}{% random_image 'blog/cover_images' %}{% endblock %}

{% block content %}
<div class="section text-center">
    <h1 class="title">Bejegyzések</h1>
    <ul>
        {% for post in object_list %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-lg-4">
                {% include 'post_card.html' %}
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% empty %}
        <h3>Nincs elérhető bejegyzés</h3>
        {% endfor %}
    </ul>
{% if is_paginated %}
  <nav aria-label="Bejegyzés navigáció">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Előző oldal</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Előző oldal</span></li>
      {% endif %}

      {% for page in paginator.page_range %}
        {% if page_obj.number == page %}
          <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

       {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Következő oldal</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Következő oldal</span></li>
      {% endif %}
   </ul>
  </nav>
{% endif %}
</div>
{% endblock %}