{% extends 'includes.html' %}
{% load random_image %}

{% block title %}Főoldal{% endblock %}
{% block body-class %}landing-page{% endblock %}

{% block body %}
<div class="page-header header-filter" data-parallax="true"
  style="background-image: url('{% random_image 'blog/cover_images' %}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title d-none d-md-block">1111. Szent István Cserkészcsapat</h1>
        <h2 class="title d-md-none">1111. Szent István Cserkészcsapat</h2>
        <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text
          here. Add here all the information that can make you or your product create the first impression.</h4>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Videó megtekintése
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h1 class="title">Legfrissebb hírek</h1>
      <div class="row">

        {% for post in object_list %}
        <div class="col-lg-4 mr-auto ml-auto">
          {% include 'post_card.html' %}
        </div>
        {% empty %}
        <h3 class="mr-auto ml-auto">Nincs elérhető bejegyzés</h3>
        {% endfor %}
      </div>

      <a href="{% url 'blog:post-list' %}" class="btn btn-success btn-raised btn-lg mt-4">
        <i class="fas fa-bullhorn"></i> Összes bejegyzés megtekintése</a>
    </div>

    <div class="section text-center">
      <h1 class="title">Csapatunk</h1>
      <div class=" gallery">
        <div class="row align-items-center">
         <div class="col-md-6 mr-auto">
            <h3 class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, officia maxime qui
              sunt atque
              repellat! Doloremque eius architecto ullam esse sunt aut harum rerum sit veniam, porro quae dignissimos
              qui error sapiente consequuntur ex magni. Id quo pariatur fugiat sunt in quis rerum excepturi aperiam
              eaque a, blanditiis, dolor ipsam!</h3>

          </div>
           <div class="col-md-6 ml-auto">
            <img src="/static/img/examples/studio-2.jpg" class="rounded img-fluid" alt="cserkészház magas kép">
          </div>
        </div>
      </div>
      <a href="{% url  'about:about_us' %}" class="btn btn-success btn-raised btn-lg mt-4">
        <i class="fas fa-users"></i> Rólunk
      </a>
    </div>

    <div class="section text-center">
      <h1 class="title">Cserkészház</h1>
      <div class=" gallery">
        <div class="row align-items-center">
          <div class="col-md-6 ml-auto">
            <img src="/static/img/examples/clem-onojegaw.jpg" class="rounded img-fluid" alt="cserkészház magas kép">
          </div>
          <div class="col-md-6 mr-auto">
            <h3 class="mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, officia maxime qui
              sunt atque
              repellat! Doloremque eius architecto ullam esse sunt aut harum rerum sit veniam, porro quae dignissimos
              qui error sapiente consequuntur ex magni. Id quo pariatur fugiat sunt in quis rerum excepturi aperiam
              eaque a, blanditiis, dolor ipsam!</h3>

            <img src="http://www.cserkeszek.hu/wp-content/uploads/2014/01/11.jpg" class="rounded img-fluid"
              alt="cserkészház alsó kép">
          </div>
        </div>
      </div>
      <a href="{% url  'about:house' %}" class="btn btn-success btn-raised btn-lg mt-4">
        <i class="fas fa-home"></i> Cserkészházról
      </a>
    </div>
  </div>
</div>
{% endblock %}